#navbar-logo{
    width: 100px;
    margin: 0;
}
#header-container{
    width: 75%;
}
@media screen and (max-width: 991px){
    #header-container{
        width: 100%;
        text-align: center;
    }
}